@font-face {
    font-family: still time;
    src: url(fonts/still_time.otf);
   
    
} 

div.main {
    background-size: 600px 600px; 
    height: 610px;
    background-repeat: no-repeat;
    margin-left: 200px;
   }

  p {
   letter-spacing: 3px;
   }
   a {
    color: purple;
	text-decoration: overline;
}

a:hover {
    text-decoration: underline;
	color: purple;
    font-weight: bold;
    background-color: plum
}

 
div.members {
    width: 100%;
    font-family: still time;
}

 
table {
   border: 1px solid black;
   border-collapse: collapse;
   text-align: center;
   font-family: sans-serif;
   width: 75%; 
   margin-left: 200px;
   background-color: #FAE3F6
   
}

 
 th {
      bacground-color: #cccccc;
	  border-bottom: 2px solid;
	  
      }
      
      td {
        font-style: italic;
        border: 1px solid black;
        }
 tr:nth-child(even){background-color: #F80CAA}
     