@font-face {
    font-family: still time;
    src: url(fonts/still_time.otf);
} 

div.main {
    background: url("images/purplerain.jpg");
    background-size: 600px 600px; 
    height: 600px;
    background-repeat: no-repeat;
    margin: auto; 
   }

  p {
   letter-spacing: 3px;
   }
   a {
    color: purple;
	text-decoration: overline;
}

a:hover {
    text-decoration: underline;
	color: purple;
	font-weight: bold;
}

 
div.members {
    width: 100%;
    font-family: still time;
}

 
table, td {
   border: 1px solid black;
   border-collapse: collapse;
   text-align: center;
   font-family: sans-serif;
}
 table {
    
	width: 75%; 
	margin-left: 100px;
}

 th {
      bacground-color: #cccccc;
	  border-bottom: 2px solid
	  
	  }
   
     